<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cardGroup">
            <h2><span jhiTranslate="gatewayApp.cardGroup.detail.title">Card Group</span> {{ cardGroup.id }}</h2>

            <hr>

            <alert-error></alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.cardGroup.name">Name</span></dt>
                <dd>
                    <span>{{ cardGroup.name }}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.cardGroup.card">Card</span></dt>
                <dd>
                    <span *ngFor="let card of cardGroup.cards; let last = last">
                        <a [routerLink]="['/card', card?.id, 'view']">{{ card.value }} {{ card.symbol }}</a>{{ last ? ''
                        : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" [routerLink]="['/card-group', cardGroup.id, 'edit']" class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>